<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCal Urenberekening</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <h1>iCal Urenberekening</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="event_name">Woord dat in de titel voorkomt:</label>
            <input type="text" id="event_name" name="event_name" placeholder="Bijvoorbeeld: Werk" required>
            
            <label for="file">Upload iCal bestand:</label>
            <input type="file" id="file" name="file" accept=".ics" required>
            
            <button type="submit">Verzenden</button>
        </form>

        <div class="instructions">
            <div class="instructions-summary" onclick="toggleInstructions()">
                Hoe download je een iCal-bestand van Google Agenda? <span id="toggle-text"><b>[Toon]</b></span>
            </div>
            <div class="instructions-details" id="instructions-details">
                <p><b>Stap 1:</b> Open <a href="https://calendar.google.com" target="_blank">Google Agenda</a> en log in met je Google-account.</p>
                <p><b>Stap 2:</b> Ga naar Instellingen:</p>
                <ul>
                    <li>Klik op het <b>tandwiel-icoon</b> rechtsboven in het scherm.</li>
                    <li>Selecteer <b>Instellingen</b> in het dropdownmenu.</li>
                </ul>
                <p><b>Stap 3:</b> Selecteer de gewenste agenda:</p>
                <ul>
                    <li>In het linkermenu, onder <b>Instellingen voor mijn agenda's</b>, klik op de naam van de agenda.</li>
                </ul>
                <p><b>Stap 4:</b> Download de agenda:</p>
                <ul>
                    <li>Scroll naar beneden naar <b>Agenda-instellingen</b>.</li>
                    <li>Klik op <b>Geheime adres in iCal-formaat</b>.</li>
                    <li>Kopieer de weergegeven link of klik erop om het iCal-bestand te downloaden.</li>
                </ul>
                <p><b>Let op:</b> Deel deze URL niet met anderen, omdat het volledige toegang geeft tot je agenda.</p>
            </div>
        </div>

        <h2>Maandelijkse Samenvatting:</h2>
        <table id="monthlySummaryTable">
            <thead>
                <tr>
                    <th>Maand</th>
                    <th>Totaal Uren</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h2>Gedetailleerde afspraken:</h2>
        <table id="detailedTable">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Datum</th>
                    <th>Uren</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h2>Exporteer afspraken:</h2>
        <button onclick="window.location.href='/export'">Download Excel</button>
    </div>

    


    <footer>
        <p>Host this application yourself! Check the source code on <a href="https://github.com/nickdubbel/TimeTracker" target="_blank">GitHub</a>.</p>
    </footer>

    <!-- Link to JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
